<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple Health{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="bg-gray-50">
    {% block content %}{% endblock content %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>